<ion-header>
  <ion-toolbar>
    <ion-title>{{artist_name}}</ion-title>
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let song of songs; index as i" (click)="selectSong(song)">
      <ion-avatar>
        {{i + 1}}
      </ion-avatar>
      <ion-label class="ion-margin-start">
        <h3>{{song.name}}</h3>
        <!-- <p>{{song.id}}</p> -->
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>