<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-uppercase">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="formContainer">
  <!-- <img src="assets/images/background.jpg" height="100%" width="100%" /> -->
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <!-- <ion-label>Email</ion-label> -->
      <ion-icon name="mail"></ion-icon>
      <ion-input labelPlacement="floating" formControlName="email" type="email" placeholder="name@example.com">
        <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div *ngIf="loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <!-- <ion-label>Password</ion-label> -->
      <ion-icon name="key"></ion-icon>
      <ion-input labelPlacement="floating" formControlName="password" type="password" placeholder="you password">
        <div slot="label">Contraseña <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <div class="btnSumit">
      <ion-button shape="round" color="secondary" [disabled]="!loginForm.valid" type="submit">Ingresar</ion-button>
    </div>
  </form>
  <ion-footer>
    <ion-button expand="full" shape="round" color="success" (click)="goToRegister()">
      Registrate
    </ion-button>
  </ion-footer>
</ion-content>