<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" placeholder="name@example.com"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div *ngIf="loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password" placeholder="you password"></ion-input>
    </ion-item>
  </form>
</ion-content>