<ion-header>

</ion-header>

<ion-content>
  <swiper-container [initialSlide]="0">
    <swiper-slide>
      <h1>Titulo primario</h1>
      <ion-icon class="slice-icon" name="skull-outline"></ion-icon>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit error ea facere consequatur, nihil in iure
        eaque? Labore impedit tenetur, exercitationem nemo magni eos quo nam pariatur dolorum provident modi.</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Titulo secundario</h1>
      <ion-icon name="barbell-outline"></ion-icon>
      <img src="assets/Black.png" />
      <p class="my-favorite-text-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugiat dolor, laboriosam assumenda officiis
        vitae corporis voluptates autem odio nostrum at. Libero expedita amet omnis quo iusto obcaecati ipsum commodi.
      </p>
    </swiper-slide>
  </swiper-container>
</ion-content>