<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()">Atras</ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="name@example.com"
        formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Password" labelPlacement="floating" placeholder="*******"
        formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Name" labelPlacement="floating" placeholder="Nombre" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Last Name" labelPlacement="floating" placeholder="Apellido"
        formControlName="last_name"></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="!registerForm.valid">Registrar</ion-button>
  </form>
</ion-content>