<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()">Atras</ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="tertiary">
  <div class="formContent">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
      <ion-item class="ion-margin-bottom">
        <ion-icon color="tertiary" class="ion-margin-end" name="mail"></ion-icon>
        <ion-input labelPlacement="floating" formControlName="email" type="email" placeholder="name@example.com">
          <div slot="label">Email<ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-icon color="tertiary" class="ion-margin-end" name="key"></ion-icon>
        <ion-input labelPlacement="floating" formControlName="password" type="password" placeholder="Su contraseña">
          <div slot="label">Contraseña<ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-icon color="tertiary" class="ion-margin-end" name="person"></ion-icon>
        <ion-input labelPlacement="floating" formControlName="name" type="text" placeholder="Nombre">
          <div slot="label">Nombres<ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-icon color="tertiary" class="ion-margin-end" name="person"></ion-icon>
        <ion-input labelPlacement="floating" formControlName="last_name" type="text" placeholder="Apellido">
          <div slot="label">Apellidos<ion-text color="danger">*</ion-text></div>
        </ion-input>

      </ion-item>
      <div class="btnSumit">
        <ion-button id="open-toast" expand="full" shape="round" type="submit"
          [disabled]="!registerForm.valid">Registrar</ion-button>
        <ion-toast trigger="open-toast" message="Usuario registrado con éxito" [duration]="1500"></ion-toast>
      </div>
    </form>
  </div>
</ion-content>